/*
25.06.2025	2010000311663	ОАО "НГК Славнефть"	меняет ord (130 была свободна), родителя	"ord=130
parent=2010000311665"

25.06.2025	2010000311664	Гр. Газпром (49,88%)	меняет имя, ord (131 была свободна), уровень, (родитель=2010000311663 остается)	"name=Гр. Газпром (49,9%)                                                                                    ord=131
lvl=4"

25.06.2025	2010000311671	ЗАО"Мессояханефтегаз"	меняет ord (122 освободилась), родителя	"ord=122
parent=2010000311650"

25.06.2025	2010000311672	в тч гр. Газпром (50%)	меняет ord (123 освободилась), уровень, (родитель=2010000311671 остается)	"ord=123
lvl=5"
*/

select from balance_api.fn_balance_article_ord_set
 (
  p_article_id =>2010000311663 ,
  p_article_ord =>130,
  p_valid_date =>'25.06.2025'
 )
;

select balance_api.fn_balance_article_level_set
 (
  p_article_id => 2010000311663,
  p_begin_date => '25.06.2025',
  p_end_date   => '2099-12-31',
  p_parent_id  => 2010000311665,
  p_level      => 2
  );

SELECT * FROM balance_api.fn_balance_article_rename
 (
  p_article_id => 2010000311664,
  p_article_name => 'Гр. Газпром (49,9%)',
  p_old_date => '25.06.2025',
  p_new_valid_date => '2099-12-31'
  );

select from balance_api.fn_balance_article_ord_set
 (
  p_article_id =>2010000311664 ,
  p_article_ord =>131,
  p_valid_date =>'25.06.2025'
 )
;

select balance_api.fn_balance_article_level_set
 (
  p_article_id => 2010000311664,
  p_begin_date => '25.06.2025',
  p_end_date   => '2099-12-31',
  p_parent_id  => 2010000311663,
  p_level      => 4
  );


select from balance_api.fn_balance_article_ord_set
 (
  p_article_id =>2010000311671 ,
  p_article_ord =>122,
  p_valid_date =>'25.06.2025'
 )
;

select balance_api.fn_balance_article_level_set
 (
  p_article_id => 2010000311671,
  p_begin_date => '25.06.2025',
  p_end_date   => '2099-12-31',
  p_parent_id  => 2010000311650,
  p_level      => 2
  );


select from balance_api.fn_balance_article_ord_set
 (
  p_article_id =>2010000311672 ,
  p_article_ord =>123,
  p_valid_date =>'25.06.2025'
 )
;

select balance_api.fn_balance_article_level_set
 (
  p_article_id => 2010000311672,
  p_begin_date => '25.06.2025',
  p_end_date   => '2099-12-31',
  p_parent_id  => 2010000311671,
  p_level      => 5
  );
